Django==1.7
Markdown==2.4.1
PyYAML==3.11
django-autocomplete-light==2.0.0a18
django-cache-machine==0.8
django-cacheops==2.1.1
django-contrib-comments==1.5
django-markdown==0.6.1
django-taggit==0.12.1
funcy==1.2
mysqlclient==1.3.2
python3-memcached==1.51
redis==2.10.3
six==1.7.3
